extends layout

block scripts
  script(src="/javascripts/index.js")

block content
  .system
    #timer
      #time 00:00

    .theme
      h3(style="color:lightgray") Tema:
      h2#theme= theme

    .author
      input#author(type="text", name="author", placeholder="Nežinomas Autorius")
    .next

  .writer
    textarea#submition(name="submition", cols="30", rows="10", style="width: 80%; height: 500px")